<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%block name="title"></%block>${APP}</title>
        
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="${STATIC.css('lib/bootstrap/bootstrap.min.css')}">
        <link rel="stylesheet" href="${STATIC.css('base.css')}">
        <link rel="stylesheet" href="${STATIC.css('bootstrap-rewrite.css')}">
        <link rel="stylesheet" href="${STATIC.css('header.css')}">
        <link rel="stylesheet" href="${STATIC.css('footer.css')}">

        <%block name="css">
        </%block>
    </head>

    <body>
        <div id="header">
			<nav class="navbar navbar-default">
			    <div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
                        <a class="navbar-brand" href="/">
                            <img src="http://om579s1ws.bkt.clouddn.com/2017-03-09-logo.png" width="30"></img>
                            一块投吧投资学院
                        </a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><div><a href="/">首页</a></div></li>
							<li><div><a href="/introduction">学院介绍</a></div></li>
							<li><div><a href="/course">课程设置</a></div></li>
							<li><div><a href="/teacher">师资团队</a></div></li>
							<li><div><a href="/notice">报名须知</a></div></li>
							<li><div><a href="/contact">联系我们</a></div></li>
							## <li class="dropdown">
							## 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
							## 	<ul class="dropdown-menu">
							## 	<li><a href="#">Action</a></li>
							## 	<li><a href="#">Another action</a></li>
							## 	<li><a href="#">Something else here</a></li>
							## 	<li role="separator" class="divider"></li>
							## 	<li><a href="#">Separated link</a></li>
							## 	</ul>
							## </li>
						</ul>
					</div><!-- /.navbar-collapse -->
			    </div><!-- /.container-fluid -->
			</nav>

		</div>
        ${next.body()}
        <div id="footer">
            <div class="container">
                <hr>
            </div>
            <div class="container footer">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="icon" style="background-image: url('http://om579s1ws.bkt.clouddn.com/xueyuanjieshao.svg');">
                                    <a href="">学院<span class="dsk">介绍<span></a>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="icon" style="background-image: url('http://om579s1ws.bkt.clouddn.com/kechengshezhi.svg');">
                                    <a href="">课程<span class="dsk">设置</span></a>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="icon" style="background-image: url('http://om579s1ws.bkt.clouddn.com/shizituandui.svg');">
                                    <a href="">师资<span class="dsk">团队</span></a>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="icon" style="background-image: url('http://om579s1ws.bkt.clouddn.com/baomingxuzhi.svg');">
                                    <a href="">报名<span class="dsk">须知</span></a>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="icon" style="background-image: url('http://om579s1ws.bkt.clouddn.com/lianxiwomen.svg');">
                                    <a href="">联系<span class="dsk">我们</span></a>
                                </div>
                            </div>
                            <div class="col-xs-2">
                            </div>
                        </div>
                        <div class="copyright">
                            <p>COPYRIGHT  @2017 一块投吧投资学院</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="qr-img">
                            &nbsp;
                        </div>
                        <div class="phone">
                            <p>010 - 53672297</p>
                            <p>工作日8:00-18:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="${STATIC.js('lib/jquery-3.1.1.js')}"></script>
        <script src="${STATIC.js('base.js')}"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="${STATIC.js('lib/bootstrap/bootstrap.min.js')}"></script>

        <%block name="js">
        </%block>
    </body>
</html>
