<%inherit file="base.html"/>
<%block name="title">学院介绍 – </%block>
<%block name="css">
	<link rel="stylesheet" href="${STATIC.css('content.css')}">
	<link rel="stylesheet" href="${STATIC.css('course.css')}">
</%block>
<div class="container main">
    <div class="left">
        <ul>
            <li><a class="anchor" href="#1">宏观经济与投资趋势分析</a></li>
            <li><a class="anchor" href="#2">资本运作与股权投资</a></li>
            <li><a class="anchor" href="#3">热点投资行业分析</a></li>
            <li><a class="anchor" href="#4">商业模式创新与互联网创新</a></li>
            <li><a class="anchor" href="#5">企业家个人品牌打造</a></li>
            <li><a class="anchor" href="#6">企业家财富管理</a></li>
            <li><a class="anchor" href="#7">选修课程</a></li>
        </ul>
    </div>
    <div class="fn-clear-f"></div>
    <div class="right">
        <a name="1"></a>
        <p class="title">宏观经济与投资趋势分析</p>
        <p class="sub_title">扩展投资新视野，洞察投资新趋势，掘金投资新未来</p>
        <p>
            <ul>
                <li>宏观经济与投资趋势</li>
                <li>新经济政策解析</li>
                <li>国际投资分析</li>
            </ul>
        </p>

        <hr>

        <a name="2"></a>
        <p class="title">资本运作与股权投资</p>
        <p class="sub_title">应用投资组合、掌控投资风险、实现财富增值</p>
        <p>
            <ul>
                <li>投资项目评估与风险管控</li>
                <li>投资项目退出与收益管理</li>
                <li>基金运作与管理</li>
            </ul>
        </p>

        <hr>

        <a name="3"></a>
        <p class="title">热点投资行业分析</p>
        <p class="sub_title">影视娱乐体育产业投资</p>
        <p>
            <ul>
                <p>影视娱乐行业未来发展及投资机会</li>
                <p>体育产业与资本的碰撞</li>
            </ul>
        </p>

        <hr>

        <a name="4"></a>
        <p class="title">商业模式创新与互联网创新</p>
        <p class="sub_title">优化企业顶层设计，实现企业利润倍增，拥抱行业未来趋势</p>
        <p>
            <ul>
                <li>商业模式再造与创新</li>
                <li>“互联网＋”创新</li>
                <li>互联网创新、创业项目评估</li>
            </ul>
        </p>

        <hr>

        <a name="5"></a>
        <p class="title">企业家个人品牌打造</p>
        <p>
            <ul>
                <li>企业家表达的艺术</li>
                <li>内在气质修炼与外在形象提升</li>
                <li>运用媒体提升个人品牌</li>
                <li>参与姚基金、鸿基金等大型公益慈善活动</li>
            </ul>
        </p>

        <hr>

        <a name="6"></a>
        <p class="title">企业家财富管理</p>
        <p>
            <ul>
                <li>家族企业财富传承的投资战略</li>
                <li>家族财富基金的设立与管理</li>
                <li>企业家个人财富增长与风险管理</li>
            </ul>
        </p>

        <hr>

        <a name="7"></a>
        <p class="title">选修课程</p>
        <p>
            <ul>
                <li>参加《一块投吧》节目线下路演，受邀担任活动嘉宾投资人，实操项目分析与评估</li>
                <li>参与《一块投吧》节目现场录制，与明星投资人同步点评创业项目</li>
                <li>优秀企业参访，如：阿里巴巴、百度、小米、北极光创投、三一重工、优客工场、SOHO3Q、紫牛基金、e 袋洗等业界代表性企业以及知名投资机构</li>
                <li>有机会参与向日葵母基金</li>
                <li>国内商务游学考察（投资创业集中的城市：深圳、上海等）</li>
                <li>国外商务游学考察（硅谷，以色列等）</li>
            </ul>
        </p>
    </div>
</div>

<%block name="js">
    <script src="${STATIC.js('content.js')}"></script>
</%block>
