<%inherit file="base.html"/>
<%block name="title">首页 – </%block>
<%block name="css">
	<link rel="stylesheet" href="${STATIC.css('index.css')}">
    <link href="${STATIC.js('lib/fancybox/jquery.fancybox.min.css')}" rel="stylesheet">
</%block>

<div id="banner">
    &nbsp;
</div>
<div id="banner-filter">
    <div class="container">
        <h2>不辜负每一个梦想<br>Live up to every dream</h2>
    </div>
</div>
<div class="container" id="opinion">
    <div class="col">
        <div class="bg" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-14-dengfeng.png)">
            &nbsp;
        </div>
        <div class="text">
            <div class="title">邓锋</div>
            <p> 创业 是头顶着蓝天<br> 脚踩着大地<br> 只要你是对的人 输赢我都认了<br> </p>
        </div>
    </div>
    <div class="col">
        <div class="bg" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-15-zhangquanling.png)">
            &nbsp;
        </div>
        <div class="text">
            <div class="title">张泉灵</div>
            <p> 投资 是我选择的一种生命状态<br> 我们要在对的赛道上<br> 来选择有特质的人 </p>
        </div>
    </div>
    <div class="col">
        <div class="bg" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-14-linyilun.png)">
            &nbsp;
        </div>
        <div class="text">
            <div class="title">林依轮</div>
            <p> 选择好的创业项目就像做美食<br> 急不得 慌不得<br>好项目一定要有好伙伴 </p>
        </div>
    </div>
</div>
<div class="container" id="teacher-wrapper">
    <div class="row">
        <div class="col-xs-3">
            <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-09-dengfeng.png);">&nbsp;</div>
            <div class="text">
                <span class="name">邓锋</span>
                <span class="title">北极光创投<span>，创始人、董事总经理</span></span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-shegnxitai.png);">&nbsp;</div>
            <div class="text">
                <span class="name">盛希泰</span>
                <span class="title">洪泰基金<span>，创始人</span></span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-09-wanggongquan.png);">&nbsp;</div>
            <div class="text">
                <span class="name">王功权</span>
                <span class="title">青普旅游<span>，首席战略官</span></span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-09-zhangquanling.png);">&nbsp;</div>
            <div class="text">
                <span class="name">张泉灵</span>
                <span class="title">紫牛基金<span>，合伙人</span></span>
            </div>
        </div>
    </div>
    <p class="readmore">
        <a href="/teacher">
            了解更多
            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
        </a>
    </p>
</div>
<div class="team-intro-wrapper">
    <div class="container">
        <div class='row'>
            <div class="col-md-4">
                <div class="team-img" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-05-team.png);"> &nbsp; </div>
            </div>
            <div class="col-md-8">
                <div class="team-desc">
                    <div class="title">
                        学院创立背景
                    </div>
                    <div class="text">
                        <p>2016年，向日葵传媒联合深圳卫视、青橙芒果传播共同出品大型创投类电视节目《一块投吧》。在节目里，新东方教育集团创始人、洪泰基金联合创始人俞敏洪，北极光创投创始人、董事总经理邓锋，紫牛基金合伙人张泉灵，洪泰基金创始人盛希泰，跨界投资人林依轮对参与节目的近百个创业项目进行了精彩点评，项目涉足TMT、智能硬件、大医疗、影视娱乐等多个行业类别。同时，节目的前期海选得到了篮球明星姚明、SOHO中国董事长潘石屹先生等各界人士的大力支持。《一块投吧》节目在业界受到了广泛的关注，播出后反响热烈，很多观众把《一块投吧》视为创业投资的课堂。由此，节目出品方——向日葵传媒发起成立一块投吧投资学院，让更多企业家有机会深入学习，全面了解创业投资新生态，转型成为创而优则投的新一代企业家。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


## http://om579s1ws.bkt.clouddn.com/2017-03-12-yugao.png

<div class="video-wrapper container">
    <div class="row">
        <div class="col-md-4">
            <div class="bg" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-12-piantou.png);">
                <a class="" data-fancybox="modal" data-src="#piantou" href="javascript:;">&nbsp;</a>
            </div>
            <div id="piantou" style="display: none;">
                <video controls="" name="media">
                    <source src="http://xueyuan.yikuaitouba.com/static/video/piantou.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bg" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-12-yugao.png);">
                <a class="" data-fancybox="modal" data-src="#yugao" href="javascript:;">&nbsp;</a>
            </div>
            <div id="yugao" style="display: none;">
                <video controls="" name="media">
                    <source src="http://xueyuan.yikuaitouba.com/static/video/yugao.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bg" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-14-huigu.png);">
                <a class="" data-fancybox="modal" data-src="#huigu" href="javascript:;">&nbsp;</a>
            </div>
            <div id="huigu" style="display: none;">
                <video controls="" name="media">
                    <source src="http://xueyuan.yikuaitouba.com/static/video/huigu.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>

<div class="img-wrapper container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="img" style="background-image: url('http://om579s1ws.bkt.clouddn.com/2017-03-09-IMG_7323.jpg');">&nbsp;</div>
        </div>
        <div class="col-md-3">
            <div class="img" style="background-image: url('http://om579s1ws.bkt.clouddn.com/2017-03-09-with_logo.jpg');">&nbsp;</div>
        </div>
        <div class="col-md-3">
            <div class="img" style="background-image: url('http://om579s1ws.bkt.clouddn.com/2017-03-09-IMG_8832.jpg');">&nbsp;</div>
        </div>
        <div class="col-md-3">
            <div class="img" style="background-image: url('http://om579s1ws.bkt.clouddn.com/2017-03-09-IMG_7812.jpg');">&nbsp;</div>
        </div>
    </div>
</div>

<div class="partner container">
    <div class="title">合作伙伴</div>
    <hr>

    <div class="row corp">
        <div class="col-md-2 col-xs-4">
            <a href="http://xrkmedia.com" target="_blank">
                <img src="http://om579s1ws.bkt.clouddn.com/2017-03-09-xrk-1.png">
            </a>
        </div>
        <div class="col-md-2 col-xs-4">
            <a href="http://www.qcmango.com" target="_blank">
                <img src="http://om579s1ws.bkt.clouddn.com/2017-03-09-qingcheng.png">
            </a>
        </div>
        <div class="col-md-2 col-xs-4">
            <a href="http://www.gearpi.com" target="_blank">
                <img src="http://om579s1ws.bkt.clouddn.com/2017-03-14-guanghepai.png">
            </a>
        </div>
        <div class="col-md-2 col-xs-4">
            <img src="http://om579s1ws.bkt.clouddn.com/2017-03-16-zhongcheng.png">
        </div>
        <div class="col-md-2 col-xs-4">
            <a href="http://www.zgzyhn.com" target="_blank">
                <img src="http://om579s1ws.bkt.clouddn.com/2017-03-09-huanai.png">
            </a>
        </div>
        <div class="col-md-2 col-xs-4">
        </div>
    </div>
</div>

<div class="media-wrapper">
    <div class="partner container">
        <div class="title">合作媒体</div>

        <hr>

        <div class="row media_">
            <div class="col-md-6">
                <div class="col-md-3 col-xs-4">
                   <img src="http://om579s1ws.bkt.clouddn.com/2017-03-09-sztv.png"/>
                </div>
                <div class="col-md-3 col-xs-4">
                   <img src="http://om579s1ws.bkt.clouddn.com/2017-03-09-youku.png"/>
                </div>
                <div class="col-md-3 col-xs-4">
                   <img src="http://om579s1ws.bkt.clouddn.com/2017-03-09-iqiyi.png"/>
                </div>
                <div class="col-md-3 col-xs-4">
                   <img src="http://om579s1ws.bkt.clouddn.com/2017-03-11-letv.png"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3 col-xs-4">
                   <img src="http://om579s1ws.bkt.clouddn.com/2017-03-09-qqtv.png"/>
                </div>
                <div class="col-md-3 col-xs-4">
                   <img src="http://om579s1ws.bkt.clouddn.com/2017-03-09-cctv.png"/>
                </div>
                <div class="col-md-3 col-xs-4">
                   <img src="http://om579s1ws.bkt.clouddn.com/2017-03-09-yangshiwang.png"/>
                </div>
                <div class="col-md-3 col-xs-4">
                   <img src="http://om579s1ws.bkt.clouddn.com/2017-03-09-btv.png"/>
                </div>
            </div>
        </div>
    </div>
</div>

<%block name="js">
    <script src="${STATIC.js('lib/fancybox/jquery.fancybox.min.js')}"></script>
    <script src="${STATIC.js('index.js')}"></script>
</%block>
