<%inherit file="base.html"/>
<%block name="title">首页 – </%block>
<%block name="css">
	<link rel="stylesheet" href="${STATIC.css('index.css')}">
</%block>

<div id="banner">
    &nbsp;
</div>
<div id="banner-filter">
    <div class="container">
        <h2>不辜负每一个梦想<br>Live up to every dream</h2>
    </div>
</div>
<div class="container" id="opinion">
    <div class="col">
        <div class="bg" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-02-banner-1.png)">
            &nbsp;
        </div>
        <div class="text">
            <div class="title">教师观点</div>
            <p>
                创业 是头顶着蓝天<br>
                脚踩着大地<br>
                只要你是对的人 输赢我都认了<br>
            </p>
        </div>
    </div>
    <div class="col">
        <div class="bg" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-02-banner-2.png)">
            &nbsp;
        </div>
        <div class="text">
            <div class="title">教师观点</div>
            <p>
                创业 是头顶着蓝天<br>
                脚踩着大地<br>
                只要你是对的人 输赢我都认了<br>
            </p>
        </div>
    </div>
    <div class="col">
        <div class="bg" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-02-banner-3.png)">
            &nbsp;
        </div>
        <div class="text">
            <div class="title">教师观点</div>
            <p>
                创业 是头顶着蓝天<br>
                脚踩着大地<br>
                只要你是对的人 输赢我都认了<br>
            </p>
        </div>
    </div>
</div>
