<%inherit file="base.html"/>
<%block name="title">首页 – </%block>
<%block name="css">
	<link rel="stylesheet" href="${STATIC.css('index.css')}">
</%block>

<div id="banner">
    &nbsp;
</div>
<div id="banner-filter">
    <div class="container">
        <h2>不辜负每一个梦想<br>Live up to every dream</h2>
    </div>
</div>
<div class="container" id="opinion">
    <div class="col">
        <div class="bg" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-02-banner-1.png)">
            &nbsp;
        </div>
        <div class="text">
            <div class="title">教师观点</div>
            <p>
                创业 是头顶着蓝天<br>
                脚踩着大地<br>
                只要你是对的人 输赢我都认了<br>
            </p>
        </div>
    </div>
    <div class="col">
        <div class="bg" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-02-banner-2.png)">
            &nbsp;
        </div>
        <div class="text">
            <div class="title">教师观点</div>
            <p>
                创业 是头顶着蓝天<br>
                脚踩着大地<br>
                只要你是对的人 输赢我都认了<br>
            </p>
        </div>
    </div>
    <div class="col">
        <div class="bg" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-02-banner-3.png)">
            &nbsp;
        </div>
        <div class="text">
            <div class="title">教师观点</div>
            <p>
                创业 是头顶着蓝天<br>
                脚踩着大地<br>
                只要你是对的人 输赢我都认了<br>
            </p>
        </div>
    </div>
</div>
<div class="container" id="teacher-wrapper">
    <div class="row">
        <div class="col-xs-3">
            <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-02-avatar-1.png);">&nbsp;</div>
            <div class="text">
                <span class="name">刘洪民</span>
                <span class="title">北京大学<span>，副教授</span></span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-02-avatar-2.png);">&nbsp;</div>
            <div class="text">
                <span class="name">刘洪民</span>
                <span class="title">北京大学<span>，副教授</span></span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-02-avatar-3.png);">&nbsp;</div>
            <div class="text">
                <span class="name">刘洪民</span>
                <span class="title">北京大学<span>，副教授</span></span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-02-avatar-4.png);">&nbsp;</div>
            <div class="text">
                <span class="name">刘洪民</span>
                <span class="title">北京大学<span>，副教授</span></span>
            </div>
        </div>
    </div>
</div>
<div class="team-intro-wrapper">
    <div class="container">
        <div class='row'>
            <div class="col-md-4">
                <div class="team-img" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-05-team.png);"> &nbsp; </div>
            </div>
            <div class="col-md-8">
                <div class="team-desc">
                    <div class="title">
                        我们的教师团队
                    </div>
                    <div class="text">
                        <p>商学院是为培养商务人才而专门设置的，以培养能适用当代商务理念的经济人才为主教育机构。许多院校都设有商学院。商学院的价值取决于能为未来创造出多少优秀创造性的商界人才，并因这些人才的出现，从而改变了商业的历史，并为世人带来新价值观和新价值。</p>
                        <p>商学院是为培养商务人才而专门设置的，以培养能适用当代商务理念的经济人才为主教育机构。许多院校都设有商学院。商学院的价值取决于能为未来创造出多少优秀创造性的商界人才，并因这些人才的出现，从而改变了商业的历史，并为世人带来新价值观和新价值。</p>
                        <p class="readmore">
                            <a href="#">
                                了解更多
                                <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
