<%inherit file="base.html"/>
<%block name="title">学院介绍 – </%block>
<%block name="css">
	<link rel="stylesheet" href="${STATIC.css('content.css')}">
</%block>
<div class="container main">
    <div class="left">
        <ul>
            <li><a class="anchor" href="#intro">学院介绍</a></li>
            <li><a class="anchor" href="#bg">创立背景</a></li>
            <li><a class="anchor" href="#feature">学院特色</a></li>
            <li><a class="anchor" href="#mission">学院使命</a></li>
            <li><a class="anchor" href="#vision">学院愿景</a></li>
            <li><a class="anchor" href="#location">授课地点</a></li>
        </ul>
    </div>
    <div class="fn-clear-f"></div>
    <div class="right">
        <a name="intro"></a>
        <p class="title">学院介绍</p>
        <p>一块投吧投资学院是大型创投节目《一块投吧》的衍生品牌，旨在将新商业文明时代下企业家培养成为投资家。一块投吧投资学院与《一块投吧》节目并列为向日葵传媒旗下两大金融传媒品牌。</p>

        <hr>

        <a name="bg"></a>
        <p class="title">创立背景</p>
        <p>2016年，向日葵传媒联合深圳卫视、青橙芒果传播共同出品大型创投类电视节目《一块投吧》。</p>
        <p>在节目里，新东方教育集团创始人、洪泰基金联合创始人俞敏洪，北极光创投创始人、董事总经理邓锋，紫牛基金合伙人张泉灵，洪泰基金创始人盛希泰，跨界投资人林依轮对参与节目的近百个创业项目进行了精彩点评，项目涉足TMT、智能硬件、大医疗、影视娱乐等多个行业类别。同时，节目的前期海选得到了篮球明星姚明、SOHO中国董事长潘石屹先生等各界人士的大力支持。</p>
        <p>《一块投吧》节目在业界受到了广泛的关注，播出后反响热烈，很多观众把《一块投吧》作为创业投资的课堂。由此，节目出品方——向日葵传媒发起成立一块投吧投资学院，让更多企业家有机会深入学习，全面了解创业投资新生态，转型成为创而优则投的新一代企业家。</p>

        <hr>

        <a name="feature"></a>
        <p class="title">学院特色</p>
        <p><b>媒体＋</b></p>
        <p>依托创投节目《一块投吧》的强媒体属性，课程内容与电视节目相辅相成，通过节目传播扩大其影响力，帮助企业家学员提升个人品牌。</p>
        <p><b>专业＋</b></p>
        <p>学院力邀国内外顶级投资家及专业投资机构负责人现场授课，通过理论与实战相结合，帮助企业家学员掌握投资全生态，拓展投资新视野。</p>
        <p><b>明星＋</b></p>
        <p>除常规投资课程设置外，学院将定期邀请《一块投吧》节目明星投资人或知名跨界投资人亲临课堂，为企业家分享投资之道。</p>
        <p><b>名企＋</b></p>
        <p>带领企业家深入国内外知名企业内部，了解知名企业文化和成功之道。</p>
        <p><b>实战＋</b></p>
        <p>参加《一块投吧》节目线下路演活动，受邀担任活动现场嘉宾投资人。</p>
        <p><b>品牌＋</b></p>
        <p>专注企业家个人品牌打造，涵盖演讲能力提升、企业家个人形象设计等课程，通过参加大型公益项目、《一块投吧》节目录制等活动，与名人效应同步传播，帮助企业家学员成为下一个明星投资人。</p>

        <hr>

        <a name="mission"></a>
        <p class="title">学院使命</p>
        <p>一块投吧投资学院致力于成为中国顶尖的孵化优秀投资家的摇篮。 </p>

        <hr>

        <a name="vision"></a>
        <p class="title">学院愿景</p>
        <p>让每一位优秀企业家转型为成功的投资家。 </p>

        <hr>

        <a name="location"></a>
        <p class="title">授课地点</p>
        <p>中国·北京</p>
    </div>
    <div class="fn-clear-f">&nbsp;</div>
</div>

<%block name="js">
    <script src="${STATIC.js('content.js')}"></script>
</%block>
