<%inherit file="base.html"/>
<%block name="title">师资团队 – </%block>
<%block name="css">
	<link rel="stylesheet" href="${STATIC.css('teacher.css')}">
</%block>
<div class="container main">
    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-02-avatar-1.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">蔡江南</p>
                    <p>北京大学光华管理学院<br>副教授</p>
                </div>
                <div class="fn-clear-f">&nbsp;</div>
            </div>

            <div class="col-md-7">
                <div class="desc">
                    <p> 北极光创投创始人、董事总经理，著名投资人，《一块投吧》节目投资嘉宾，被誉为硅谷最成功的五位华人企业家之一。</p>
                    <p>邓锋先生创办的公司NetScreen于2004年在美国创造了42亿美元的并购神话。邓锋先生曾成功投资汉庭酒店、美团网、百合网、展讯科技、中科创达、华大基因等，投资企业超过两百家。</p>

                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-02-avatar-1.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">蔡江南</p>
                    <p>北京大学光华管理学院<br>副教授</p>
                </div>
                <div class="fn-clear-f">&nbsp;</div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p> 北极光创投创始人、董事总经理，著名投资人，《一块投吧》节目投资嘉宾，被誉为硅谷最成功的五位华人企业家之一。</p>
                    <p>邓锋先生创办的公司NetScreen于2004年在美国创造了42亿美元的并购神话。邓锋先生曾成功投资汉庭酒店、美团网、百合网、展讯科技、中科创达、华大基因等，投资企业超过两百家。</p>

                </div>
            </div>
        </div>
    </div>
</div>

<%block name="js">
</%block>
