<%inherit file="base.html"/>
<%block name="title">师资团队 – </%block>
<%block name="css">
	<link rel="stylesheet" href="${STATIC.css('teacher.css')}">
</%block>
<div class="container main">
    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-09-dengfeng.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">邓锋</p>
                    <p>北极光创投<br>创始人、董事总经理</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>

            <div class="col-md-7">
                <div class="desc">
                    <p>北极光创投创始人、董事总经理，著名投资人，《一块投吧》节目投资嘉宾，被誉为硅谷最成功的五位华人企业家之一。</p>
                    <p>邓锋先生创办的公司NetScreen于2004年在美国创造了42亿美元的并购神话。邓锋先生曾成功投资汉庭酒店、美团网、百合网、展讯科技、中科创达、华大基因等，投资企业超过两百家。</p>

                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-09-zhangshousheng.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">张首晟</p>
                    <p>丹华资本<br>创始董事长</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>著名华裔科学家、斯坦福大学终身教授、丹华资本创始董事长。</p>
                    <p>张首晟先生师从著名物理学家杨振宁教授，获得过包括富兰克林奖章在内的物理界几乎所有重量级奖项，富兰克林奖章的历任得奖者包括爱因斯坦、居里夫人、霍金等。</p>
                    <p>张首晟先生用物理学家的思维做风投，从科学的角度解读投资，用科学规律判断创业公司发展趋势，已成功投资了VMware（已在纽交所上市），3DR（被外媒视为最有可能进入“独角兽俱乐部”的创业公司）等，投资行业聚焦在大数据、移动互联网、虚拟现实等领域。</p>

                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-09-wanggongquan.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">王功权</p>
                    <p>青普旅游<br>首席战略官</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>企业家、风险投资家，曾任万通实业集团总裁、美国万通公司董事长，与潘石屹、冯仑等并称万通六君子。</p>
                    <p>曾任IDG创业投资基金高级合伙人，鼎晖创业投资基金合伙人及创始人，投资案例包括民生银行、亚信集团、易趣网、创联万网等多家企业。目前创立青普旅游，担任首席战略官。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-09-zhangquanling.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">张泉灵</p>
                    <p>紫牛基金<br>合伙人</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>原央视著名主持人，现任紫牛基金合伙人，《一块投吧》节目投资嘉宾。</p>
                    <p>紫牛基金是张泉灵与傅盛联合6位互联网大佬共同创立，紫牛基金LP包括徐小平、罗振宇、张颖、姚劲波、苏芒、李学凌。</p>
                    <p>张泉灵女士带领紫牛基金，在投资领域成绩斐然，投资聚焦于儿童教育、内容电商、IP孵化等“大内容”相关的项目，以及人工智能和黑科技领域。 </p>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-shegnxitai.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">盛希泰</p>
                    <p>洪泰基金<br>创始人</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>《一块投吧》节目投资嘉宾，资深投资银行家，两家一线证券公司打造者，前华泰联合证券公司董事长，被誉为证券界的传奇。</p>
                    <p>具有二十年逾百家公司IPO及并购经验，培养了中国资本市场最优秀的并购团队 ，培育了中联重科、大族激光、蓝色光标等多家行业领先的上市公司，促成数百家企业并购，是业内罕有在资本市场与早期投资领域都有深入积累的投资人。2014年与俞敏洪携手成立洪泰基金。</p>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-linyilun.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">林依轮</p>
                    <p>跨界投资人</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>著名歌手、演员、主持人，《一块投吧》节目投资嘉宾。作为歌手，林依轮先生在90年代，凭借一曲《爱情鸟》红遍大江南北，获得过“歌帝”的称号。</p>
                    <p>作为投资人，林依轮先生曾投资房地产、艺术品等领域。2014年创立“饭爷”品牌，已完成B轮8300万元融资，2016年公司估值达到3.6亿。</p>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-yaojingyuan.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">姚景源</p>
                    <p>国务院参事室<br>特约研究员</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>著名经济学家，曾任国家统计局总经济师兼新闻发言人、国家经委副处长等多种职位。</p>
                    <p>姚景源先生涉猎广泛，博学多识，深谙经济发展之道，对国民经济诸多领域有深入的研究，对国内外经济政策的制定、宏观经济走向以及投资趋势，有独到的见解。</p>

                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-liangjuanzhang.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">梁隽樟</p>
                    <p>昆仲资本<br>创始合伙人</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>著名天使投资人。曾任职于鼎晖创投、雷曼兄弟投资银行部、启明星辰（A股上市的网络安全公司）以及EMC。梁隽樟先生拥有多年风险投资、投资银行和企业管理经验。</p>
                    <p>曾成功投资创科技（股票代码：834218）、着迷网（证券代码：835055）、评驾科技、量化派、徙木金融、众盟科技、博车网、世物流、龙炎能源科技、爱国者电子等优质项目。梁隽樟先生拥有耶鲁大学MBA学位，爱荷华州立大学的计算机和电子工程硕士学位和清华大学电子工程学学士学位。 </p>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-handawei.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">韩大为</p>
                    <p>曜为资本<br>CEO</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>曜为资本由著名篮球明星姚明与韩大为共同发起成立。韩大为先生曾任万达首席投资官。</p>
                    <p>目前，曜为资本管理基金规模为人民币20亿元，是国内领先的专注于体育行业的私募股权投资基金。</p>
                    <p>2016年，韩大为领衔的曜为资本与全球最大的国际电视和宽带公司Liberty Global完成了对世界首屈一指的自由搏击联盟Glory的战略投资。</p>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-zhuye.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">朱晔</p>
                    <p>北京天神互动科技有限公司<br>CEO</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>朱晔先生拥有十多年互联网运营管理经验，曾用3年时间，将一家只有300万注册资金的游戏公司打造成年净利润数亿的互联网娱乐集团，2014年天神娱乐成功登陆国内A股市场。</p>
                    <p>朱晔先生投资过多家文化娱乐企业，包括儒意影业、微影时代、合润传媒等，均获得巨大成功。2015年6月，朱晔先生以个人名义拍下价值超过234万美金的巴菲特午餐时间，天神娱乐的股价在这顿午餐之后，从66元左右一路涨至最高峰的125元。</p>

                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-xuliang.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">许亮</p>
                    <p>合一资本<br>创始合伙人</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>光影工场CEO。曾任博纳影业集团(纳斯达克股票代码：BONA)副总裁、首席财务官，永新视博(纽交所股票代码:STV)联合创始人、执行副总裁兼首席财务官。</p>
                    <p>目前兼任北京外商投资企业协会副会长，中科创达独立董事，公募基金诺德基金独立董事，哈佛大学北京校友会副会长。</p>
                    <p>曾先后两次助推企业赴美成功上市，并投资、制作、发行了近四十部高回报或获奖影视剧项目，包括《智取威虎山》、《龙门飞甲》、《大魔术师》、《窃听风云》系列、《一代宗师》、《桃姐》等项目。</p>

                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-stevehoffman.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">Steve Hoffman</p>
                    <p>Founders Space<br>联合创始人</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>硅谷著名创业家、天使投资人。</p>
                    <p>Steve Hoffman先生在新媒体影视、手机游戏发行研发，互动娱乐传媒领域有丰富的创业和投资经验。他曾任好莱坞顶尖交互式电视媒体工作室Spiderdance的CEO，该工作室是MTV、NBC、Warner Brothers等美国顶尖媒体的服务供应商。</p>
                    <p>Founders Space是《福布斯》杂志评选的全美排名前十的孵化器，已投资硅谷及各地数百家初创企业，包括Instagram（Facebook收购）、Firebase (Google 收购)、Rapportive (LinkedIn 收购)等。</p>

                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-caonaicheng.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">曹乃承</p>
                    <p>北京和光博雅基金<br>投资决策委员会委员</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>北京大学信息学院高层培训中心电商专家委员会主任、北京大学MBA、工学硕士。</p>
                    <p>曹乃承先生在北京大学从事企业高层管理培训多年，累计为6000多名企业家授课，担任多家企业的咨询顾问，同时也扶持多个互联网创业项目。曹乃承先生提出了“企业运营逻辑”、“电子商务魔方知识体系”等多项企业管理体系和工具，对传统企业转型互联网＋有深入的研究，对电商、IT等领域的产业发展有透彻的解读。</p>
                    <p>早在2000年就成功预测电商的未来发展前景，对于近年兴起的云计算、大数据、移动互联产业有独到的见解。 </p>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-xuxiaoyuan.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">徐晓媛</p>
                    <p>向日葵传媒<br>创始人、CEO</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>资深媒体人，深圳卫视《一块投吧》节目出品人、总制片人。</p>
                    <p>向日葵传媒是现时代金融文化产品提供机构，致力于将中国优秀文化产品与金融服务相结合，以打造有品质、正能量的文化内容为使命。</p>
                    <p>2016年，重磅出品大型原创创投类电视节目《一块投吧》，以黑马之姿获得创投界和媒体圈的热烈好评。徐晓媛女士擅长运用媒体的资源帮助企业家打造个人品牌，2013年曾策划主办中央电视台财经频道《中国年度品牌发布》、《中国信用企业发布》等大型盛典，与第九届、十届全国人大副委员长成思危、博鳌亚洲论坛秘书长龙永图、格力集团董事长董明珠、万科集团总裁郁亮等政商名人进行深度对话。 </p>

                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-piaojunhong.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">朴俊红</p>
                    <p>光合派<br>创始人</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>现任高榕资本COO。</p>
                    <p>朴俊红女士在风险投资领域从业11年，先后就职于IDG资本、鼎晖创业投资、复星昆仲资本，主要投资消费O2O领域，尤其专注于教育行业投资，曾投资学大教育（2010年在美国纽交所上市）、慧科教育、魔方格教育等企业，同时也是决胜教育、德蒙教育的天使投资人。</p>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-zhangyiyun.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">张怡筠</p>
                    <p>著名心理学家，情商教育专家</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>被媒体誉为“心灵魔法师”，美国佐治亚理工学院心理学博士。</p>
                    <p>为全球超650家企业，如微软、花旗银行、诺基亚、宝洁等担任企业导师。工作重点为情商的全方位研究及推广，通过专业的学理训练，以“轻松说道理，明确讲做法”的独特风格，提升企业员工的幸福力。</p>
                    <p>曾受邀担任东方卫视《幸福魔方》、上海电视台《心灵花园》、央视《心理访谈》、湖南卫视《变形计》等节目的心理学嘉宾，也曾出版发行过《幸福其实很简单》、《品味幸福女人》等十余本畅销书。</p>

                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-wuyanan.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">吴雅楠</p>
                    <p>真融宝<br>创始人兼董事长</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>资深投资人，美国金融特许分析师（CFA）。</p>
                    <p>真融宝是一站式大众资产配置平台，曾先后获得经纬中国、红杉资本等顶尖投资机构的投资。</p>
                    <p>吴雅楠先生拥有20年国内外投资管理经验，致力于管理全球包括股票、债劵、货币和衍生品等多种资产，擅长设计以金融衍生品为基础的创新投资产品，包括可转移阿尔法、负债驱动投资和资产证劵化等策略，为企业、养老金、捐赠金等机构投资者与高端个人客户管理全球资产。</p>
                    <p>15岁考上华中科技大学少年班，被誉为“天才少年”。加拿大西安大略大学应用数学和统计物理的双博士学位。 </p>

                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row">
            <div class="col-md-5">
                <div class="avatar" style="background-image: url(http://om579s1ws.bkt.clouddn.com/2017-03-11-gaoxiang.png)">
                    &nbsp;
                </div>
                <div class="title">
                    <p class="name">高翔</p>
                    <p>赛伯乐投资集团<br>高级合伙人<br>执行董事兼行政总裁</p>
                </div>
                <div class="fn-clear-f"></div>
            </div>
            <div class="col-md-7">
                <div class="desc">
                    <p>知名电子商务、营销专家。曾任美国在线CEO兼执行董事、摇篮网CEO、当当网副总裁。曾创办北美最大的中国商品电子商务网站Chinamalls.com并在美国纳斯达克成功上市。</p>
                    <p>高翔先生曾以全院第一名的成绩毕业于清华大学经济管理学院、并获得美国威斯康星大学麦迪逊分校数学系和计算机系双硕士学位。高翔先生个人投资了多家儿童教育线下机构，包括能量娃和达润世纪等行业知名企业。
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<%block name="js">
</%block>
