.main{
    padding-top: 30px;
    padding-bottom: 30px;
}

.left {
    display: none;
    background: #D8D8D8;
    border-radius: 1px;
    padding: 15px 20px;
}

.right {
    padding-left: 0;
}

.right ul, .right ol {
    padding-left: 18px;
    font-size: 16px;
}

.right p {
    font-size: 16px;
    color: #141414;
    letter-spacing: 0;
    line-height: 25px;
    margin: 0 0 5px;
}

.right p.title {
    font-size: 18px;
    color: #323232;
    letter-spacing: 0;
    font-weight: bold;
    margin: 0 0 10px;
}

.right p.sub_title {
    font-size: 16px;
    font-weight: bold;
    color: #323232;
    letter-spacing: 0;
    margin: -10px 0 10px;
}

.right hr {
    margin-top: 37px;
    margin-bottom: 40px;
    border-top: 1px solid #D8D8D8;
}

@media (min-width: 768px) {
    .main{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .left {
        display: block;
        width: 180px;
        position: absolute;
        text-align: right;
    }

    .left ul {
        margin: 0;
        padding: 0;
    }

    .left ul li {
        list-style: none;
        padding: 5px 0;
    }

    .left ul li a {
        text-decoration: none;
        font-size: 18px;
        color: #323232;
    }

    .left ul li a:hover {
        color: #000;
    }

    .right {
        padding-left: 230px;
    }
}

@media (min-width: 1200px) {
    .main{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .left {
        display: block;
        width: 230px;
        position: absolute;
        text-align: right;
    }

    .left ul {
        margin: 0;
        padding: 0;
    }

    .left ul li {
        list-style: none;
        padding: 5px 0;
    }

    .left ul li a {
        text-decoration: none;
        font-size: 18px;
        color: #323232;
    }

    .left ul li a:hover {
        color: #000;
    }

    .right {
        padding-left: 300px;
    }
}
