div#banner {
    background-image: url('http://om579s1ws.bkt.clouddn.com/2017-03-01-153623.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

div#banner-filter {
    height: 250px;
    opacity: 0.7;
    background-image: linear-gradient(0deg, rgba(31,36,50,0.40) 32%, #0E1421 98%);
    margin-top: -250px;
    color: #fff;
}

div#banner-filter>div>h2{
    margin-top: 50px;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 45px;
    font-weight: 200;
}

div#opinion {
    display: none;
}


div#teacher-wrapper {
    margin-top: 20px;
}

div#teacher-wrapper .col-xs-3{
    margin: 0;
    padding: 0;
}

div#teacher-wrapper .avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    margin: auto;
    width: 90px;
    height: 90px;
    text-align: center;
}

#teacher-wrapper .text{
    margin-top: 10px;
    text-align: center;
}

#teacher-wrapper .text .name {
    font-size: 14px;
    font-weight: bold;
}

#teacher-wrapper .text .title{
    display: block;
}

#teacher-wrapper .text .title span {
    display: none;
}


.team-intro-wrapper {
    margin-top: 30px;
}

.team-intro-wrapper .col-md-4, div.team-intro-wrapper .container {
}

.team-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 200px;
    width: 100%;
}

.team-desc .title{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    margin: 5px auto;
    font-weight: bold;
}

.team-desc .text{
    padding: 0 15px;
    text-align: left;
    word-wrap:break-word;
}

.readmore {
    margin-top: 20px;
    color: #005AEF;
    text-align: right;
}

.img-wrapper .img {
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-wrapper .col-md-3 {
    padding: 0;
}

.img-wrapper {
    margin-top: 30px;
}

.partner {
    text-align: center;
    margin-top: 30px;
}

.partner .title {
    font-size: 16px;
    font-weight: bold;
}

.partner .corp {
    margin-bottom: 20px;
}

.partner img {
    width: 100px;
    margin: 10px 0;
}

.partner hr {
    margin: 10px 0;
}

.media-wrapper {
    background-color: #1F2532;
}

.media-wrapper .title {
    margin-top: 30px;
    color: #fff;
}

#footer {
    margin-top: 0 !important;
    padding-top: 20px !important;
}

.video-wrapper {
    margin-top: 30px;
}

.video-wrapper .bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

.video-wrapper .bg a {
    display: block;
    height: 80px;
    height: 80px;
    background-image: url(http://om579s1ws.bkt.clouddn.com/play-hover.svg);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    margin: auto;
    height: 200px;
}

.video-wrapper .bg a:hover {
    background-image: url(http://om579s1ws.bkt.clouddn.com/play-hover.svg);
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    div#banner-filter>div>h2{
        margin-top: 100px;
        font-size: 40px;
        color: #FFFFFF;
        line-height: 60px;
        font-weight: 200;
        letter-spacing: -2px;
    }

    div#banner {
        height: 500px;
    }

    div#banner-filter {
        height: 500px;
        margin-top: -500px;
    }

    div#opinion {
        display: block;
        margin-top: -210px;
        padding-left: 15px;
        padding-right: 15px;
    }

    div.opinion>div.row>div.col {
        width: 250px;        
        margin: 0;
        padding: 0;
    }

    .col .bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 150px;
        width: 100px;
        float: left;
    }

    #opinion .text {
        float: left;
        width: 140px;
        background-color: rgba(255, 255, 255, 0.8);
        min-height: 150px;
    }

    #opinion .text .title {
        font-weight: bold;
        font-size: 15px;
        padding: 13px 15px 0;
        margin-bottom: 15px;
    }

    #opinion .text p {
        font-size: 13px;
        padding: 0 15px;
    }

    div#teacher-wrapper {
        margin-top: 100px;
    }

    div#teacher-wrapper .col-xs-3{
        margin: 0;
        padding: 0;
    }

    div#teacher-wrapper .avatar {
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
        background-size: 150px;
        width: 150px;
        height: 150px;
        text-align: center;
    }

    div#teacher-wrapper .text{
        margin-top: 10px;
        text-align: left;
    }

    div#teacher-wrapper .text .name {
        font-size: 14px;
        font-weight: bold;
        padding-left:20px;
    }

    div#teacher-wrapper .text .title{
        padding-left:20px;
    }
    div#teacher-wrapper .text .title span {
        display: inline-flex;
    }

    .team-intro-wrapper {
        margin-top: 50px;
    }

    div.team-intro-wrapper .container {
        padding: 0 15px;
    }

    div.team-intro-wrapper .col-md-4 {
        padding: 0;
    }

    div.team-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        height: 200px;
        width: 100%;
    }

    .team-desc .title{
        text-align: left;
        font-size: 16px;
        line-height: 28px;
        margin: 5px auto;
        font-weight: bold;
        padding-left: 15px;
    }

    .team-desc .text{
        padding: 0 15px;
        text-align: left;
        word-wrap:break-word;
    }

    .team-desc .text .readmore {
        text-align: left;
    }

    .img-wrapper {
        margin-top: 50px;
    }

    .img-wrapper .img {
        height: 240px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .img-wrapper .col-md-3 {
        padding: 0;
    }

    .partner {
        margin-top: 30px;
    }

    .partner img{
        width: 100px;
        margin: 10px 0;
    }

    .partner hr {
        margin: 20px 0;
    }

    .partner .media_ {
        margin-bottom: 10px;
    }

    .video-wrapper {
        margin-top: 50px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    div#opinion {
        display: block;
        margin-top: -200px;
    }

    div.opinion>div.row>div.col {
        width: 390px;        
        margin: 0;
        padding: 0;
    }

    .col .bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 120px;
        width: 170px;
        float: left;
    }

    #opinion .text {
        float: left;
        width: 210px;
        background-color: rgba(255, 255, 255, 0.8);
        min-height: 120px;
    }

    #opinion .text .title {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 13px;
    }

    #opinion .text p {
        font-size: 13px;
    }


    div#teacher-wrapper {
        margin-top: 120px;
    }

    div#teacher-wrapper .col-xs-3{
        margin: 0;
        padding: 0;
    }

    div#teacher-wrapper .avatar {
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
        background-size: 250px;
        width: 250px;
        height: 250px;
        text-align: center;
    }

    div#teacher-wrapper .text{
        margin-top: 10px;
        text-align: left;
    }

    div#teacher-wrapper .text .name {
        font-size: 14px;
        font-weight: bold;
        padding-left:20px;
    }

    div#teacher-wrapper .text .title{
        padding-left:20px;
    }

    div#teacher-wrapper .text .title span {
        display: inline-flex;
    }

    .team-intro-wrapper {
        margin-top: 50px;
    }

    div.team-intro-wrapper .container {
        padding: 0 15px;
    }

    div.team-intro-wrapper .col-md-4 {
        padding: 0;
    }

    div.team-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        height: 200px;
        width: 100%;
    }

    .team-desc .title{
        text-align: left;
        font-size: 16px;
        line-height: 28px;
        margin: 5px auto;
        font-weight: bold;
        padding-left: 15px;
    }

    .team-desc .text{
        padding: 0 15px;
        text-align: left;
        word-wrap:break-word;
    }

    .team-desc .text .readmore {
        text-align: left;
    }

    .img-wrapper {
        margin-top: 50px;
    }

    .img-wrapper .img {
        height: 240px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .img-wrapper .col-md-3 {
        padding: 0;
    }

    .partner {
        margin-top: 60px;
    }

    .partner img {
        width: 150px;
        margin: 0;
    }

    .partner hr {
        margin: 20px 0;
    }

    .partner .media_ {
        margin-bottom: 10px;
    }

    .video-wrapper {
        margin-top: 50px;
    }
}
